{% extends "layout.html" %}
{% block title %}About Wikipedia Lite{% endblock %}
{% block content %}
    <h1>
        What is Wikipedia Lite?
    </h1>
    <p>
        Wikipedia Lite is a simplified version of Wikipedia that allows the user to just view the summary of his search
        result. While it may not go in depth into his search, it can separate the summary from the rest of the bloated
        excess that he might not need.
    </p>
    <p>
        Given that it is a part of Wikipedia, there will always be the original page to get more details about your
        search.
    </p>
{% endblock %}